<button ng-click="addLiquidToSolution(solution)">Add</button>
<ul>
    <li ng-repeat="component in solution.components">
        <button ng-click="toggleSolutionAndLiquid(solution, $index)">toggle</button>
        <div ng-if="component.name === 'Liquid'">
            <div>
                <span>{{component.name}}</span>
                <span> Of Which </span>
                <input ng-model="inputValue"
                       ng-value="proportionToPercent(component.components[0].proportion)"
                       ng-change="component.setComponentProportion(0,
                        percentToProportion(inputValue))">%</input>
                <span> Nicotine</span>
            </div>
        </div>
        <div ng-if="component.name === 'Solution'">
            <div ng-include="'partials/solutionComponentsList.html'" onload="solution=component"></div>
        </div>
    </li>
</ul>