<!DOCTYPE html>
<html ng-app="SmokingKills">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="MainController">
<div>
    <span>Nicotine Percentage:</span>
    <input ng-model="inputValue" ng-value="proportionToPercent(solution.nicotineLevel)"
           ng-change="solutionnicotineLevel =
                        percentToProportion(inputValue)">%</input>
</div>
<div ng-include="'partials/solutionComponentsList.html'"></div>
<br><br>
<button ng-click="calculate()">Gimme Results</button>
</body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="../lib/equationsSolver.js"></script>

<script type="text/javascript" src="../js/controllers/smokingKills.js"></script>
<script type="text/javascript" src="../js/factories/solutionFactory.js"></script>
<script type="text/javascript" src="../js/factories/nicotineFactory.js"></script>
<script type="text/javascript" src="../js/factories/nicotineLiquidFactory.js"></script>
<script type="text/javascript" src="../js/factories/nicotineLiquidSolutionFactory.js"></script>
</html>